<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">


<head>
  <title>Vue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="css/style.css"> -->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="styles.css">    
</head>
<body>

<div id='app'>
    <p v-if="logado">Usuário logado: {{ nome }}</p>
    <p v-else-if="anonimo">Navegando como anonimo</p>
    <p v-else> Nenhum usuário logado</p>
    <button @click="logado = !logado">{{logado ? 'Sair' : 'Entrar'}}</button>
    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue ({
        el: '#app',
            data: {
                nome: 'Maria',
                logado: false,
                anonimo: true, 
            }
    })
</script>

</body>
</html>